Config:
  # This sets the token for the bot to log in with
  # This MUST be a bot token (user tokens will not work)
  # If you don't know how to get a bot token, please see the guide here:
  # https://github.com/iAutistic/MusicBot/wiki/Getting-a-Bot-Token

  token: "BOT_TOKEN_HERE"

  # This sets the owner of the bot
  # This needs to be the owner's ID (a 17-18 digit number)
  # https://github.com/iAutistic/MusicBot/wiki/Finding-Your-User-ID

  owner: "0"

  # This sets the prefix for the bot
  # The prefix is used to control the commands
  # If you use !, the play command will be !play
  # If you do not set this, the prefix will be a mention of the bot (@Botname play)
  # If you make this blank, the bot will not use a prefix

  prefix: "@mention"

  # If you set this, it modifies the default game of the bot
  # Set this to NONE to have no game
  # Set this to DEFAULT to use the default game
  # You can make the game "Playing X", "Listening to X", or "Watching X"
  # where X is the title. If you don't include an action, it will use the
  # default of "Playing"
  # PLAYING
  # STREAMING
  # LISTENING
  # WATCHING

  game: "DEFAULT"

  # If you set this, it will modify the default status of bot
  # Valid values: ONLINE IDLE DND INVISIBLE

  status: "DND"

  # emojis
  # If you set these, it will change the various emojis

  success: "🎶"
  warning: "💡"
  error: "🚫"
  loading: "⌚"
  searching: "🔎"

  # options
  # Soon
